In [1]:
'welcome'

'welcome'

input()

In [1]:
input('enter your name')

'python'

In [3]:
10

10

In [1]:
name=input('enter name')

In [2]:
name

'variablz'

In [4]:
a=input('enter a')
b=input('enter b')
print(a,b)

12 12

In [5]:
x='10'
y=int(x)
print(y)

10

In [6]:
type(y)

int

In [7]:
type(x)

str

In [8]:
a=int(input('enter a value'))
b=int(input('enter b value'))
c=a+b
print(c)

15

In [11]:
price=20
qty=int(input('enter the qty'))
# output=f'apple price{price}\nno. of qty{qty}\ntotal price {price*qty}'
# print(output)
# print(f'apple price{price}\nno. of qty{qty}\ntotal price {price*qty}')
z=price*qty
print(f'apple price:{price}\nqty price:{qty}\nTotal price:{z}')

apple price:20
qty price:11
Total price:220

In [1]:
a=(10,20,30,40,50)
a.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [2]:
a=[10,20,30,40,50]
a.pop()

50

In [3]:
a.pop(2)

30

In [4]:
a

[10, 20, 40]

In [5]:
a={'name':'Arun','age':17,'course':'Python'}
a

{'name': 'Arun', 'age': 17, 'course': 'Python'}

In [6]:
a.items()

dict_items([('name', 'Arun'), ('age', 17), ('course', 'Python')])

In [7]:
a.keys()

dict_keys(['name', 'age', 'course'])

In [8]:
a.values()

dict_values(['Arun', 17, 'Python'])

In [9]:
a.pop()

TypeError: pop expected at least 1 argument, got 0

In [10]:
a.pop('name')

'Arun'

In [11]:
a

{'age': 17, 'course': 'Python'}

In [14]:
a.popitem()

('course', 'Python')

In [15]:
a

{'age': 17}

In [16]:
len(a)

1

In [17]:
a={1,2,3,5,6,0}

In [18]:
a

{0, 1, 2, 3, 5, 6}

In [19]:
a={10,0,10,50,40,2,1}
a

{0, 1, 2, 10, 40, 50}

In [20]:
b={10,12,40,50,1,0}
b

{0, 1, 10, 12, 40, 50}

In [21]:
a.union(b)

{0, 1, 2, 10, 12, 40, 50}

In [22]:
a.intersection(b)

{0, 1, 10, 40, 50}

In [23]:
a.difference(b)

{2}

In [24]:
b.difference(a)

{12}

In [27]:
i=1
while i<=10:
    print(i)
    i=i+1
print('over')

1
2
3
4
5
6
7
8
9
10
over

In [40]:

i=11
while i>=1:
    print(i,end='')
    i=i-2
print('over')

1197531over

In [41]:
print(1,2,3,4,5,sep='*')

1*2*3*4*5

In [42]:
print(12345,sep=',')

12345

In [47]:
print(1,2,3,4,5,sep='(or)')

1(or)2(or)3(or)4(or)5

In [1]:
s="variablz"

In [2]:
s

'variablz'

In [3]:
s[1:3]

'ar'

In [4]:
s[-1]

'z'

In [5]:
s[:5]

'varia'

In [6]:
s[::-1]

'zlbairav'

In [7]:

s[1]

'a'

In [8]:
s[1:]

'ariablz'

In [9]:
s[::-1]

'zlbairav'

In [10]:
s[0:1:5]

'v'

In [11]:
s[0:-5]

'var'

In [15]:
for i in range(9,0,-2):
    print(i,end=',')

9,7,5,3,1,

In [21]:
a=[1,2,3,4]
b=[5,6,7,8]
for i in a:

    for j in b:
        print(i+j,end=' ')
    print()

6 7 8 9
7 8 9 10
8 9 10 11
9 10 11 12

In [25]:
for i in range(1,5):
    for j in range(0,i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *

In [2]:
i=0
while i<10:
    if(i==5):
        print(i)
        break
    i=i+1
else:
    print('loop successfully terminated')

5

In [2]:
name=['arun','varun','pranavu','arun','mani','arun']
i=0
c=0
while (i<len(name)):
    if(name[i]=='arun'):
        c=c+1
    i=i+1    
else:
    print(f'no of time occur {c}')

no of time occur 3